CSS

/* styles.css */

.space-mono-regular {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold-italic {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: italic;
}

img {
    float: right;
    height: 15%;
    width: 15%;
    border-radius: 100%;
    border: 3px solid;
    border-color: #fff;
}

body {
    font-family: "Space Mono";
    margin: 0;
    line-height: 1.8;
    font-size: 15px;
    color: #a7dbf7;
}

header {
    background-color: #010e1a;
    padding: 1rem 0;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #a7dbf7;
}

/* main {
    padding: 2rem;
} */

section {
    margin-bottom: 2rem;
}

main {
    text-align: left;
    padding: 10px;
    background-color: #011627;
}

a:link {
    color: #a7dbf7;
  }
  
  /* visited link */
  a:visited {
    color: #a7dbf7;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 1rem;
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Basic responsive adjustments */
/* @media (max-width: 768px) {
    nav li {
        display: block; /* Stack navigation on smaller screens */
        margin: 0.5rem 0;
    }
}  */
