CSS

/* styles.css */
/* font */
.space-mono-regular {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .space-mono-bold {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .space-mono-regular-italic {
    font-family: "Space Mono", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .space-mono-bold-italic {
    font-family: "Space Mono", serif;
    font-weight: 700;
    font-style: italic;
}

/* all page attributes */
body {
    font-family: "Space Mono";
    margin: 0;
    line-height: 1.8;
    font-size: 15px;
    color: #a7dbf7;
}

/* nav */
header {
    width: 100%;
    background-color: #010e1a;
    padding: 10px;
    position: fixed;
    z-index: 9001;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

nav li {
    display: inline;
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #a7dbf7;
}

main {
    text-align: left;
    padding: 10px;
    background-color: #011627;
}

/* each page setting */
section {
    margin-top:4%
}

/* profile photo */
img {
    float: inline-end;
    height: 20%;
    width: 20%;
    border-radius: 100%;
    border: 3px solid;
    border-color: #fff;
}

ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
  }
  #codeOrg {
    display: block;
    margin-left: 2em;
  }

  #codeOrg::before {
    color: #1a8dcc;
    display: inline-block;
    content: counter(item) " ";
    counter-increment: item;
    width: 2em;
    margin-left: -2em;
  }
a:link {
    color: #a7dbf7;
  }
  
  /* visited link */
  a:visited {
    color: #a7dbf7;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: 1rem;
}

.project img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

